*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: lightblue;
    font-family: 'Open Sans';
}

header {
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightskyblue;
    padding: 20px 40px;
    position: fixed;
    right: 0%;
    left: 0%;
    border-radius: 0 0 20px 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 20px;
}

li>a {
    font-size: 17px;
    text-decoration: none;
    color: darkblue
}


main {
    position: relative;
    width: 100%;
    min-width: 100px;
    display: grid;
    margin: 60px 0 0 0;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 33px 55px rgba(0, 0, 0, 0.1);
}

.leftside {
    position: relative;
    background: #003147;
    padding: 40px;
}

.btn-close {
    margin-right: 100%;
}

#about {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 280px;
    height: 300px;
    border-radius: 30%;
    overflow: hidden;
    border: 2px solid #fff;
}

.avatar-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.profiletext {
    color: #fff;
    position: relative;
    display: block;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profiletext h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}



.profiletext span {
    font-weight: 300;
    text-align: center;
}

.contact-info {
    margin-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact-info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contact-info ul li span {
    font-weight: 500;
    color: #fff;
}

.profiletext.education ul {
    margin-bottom: 30px;
    ;
}

.profiletext.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.profiletext.education h4 {
    color: #fff;
    font-weight: 500;
}

.profiletext.education h4:nth-child(2) {
    color: #fff;
    font-weight: 300;

}

.profiletext.language {
    color: #fff;
    font-weight: 500;
}

.profiletext.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    display: block;
    margin-top: 5px;
    background: #081921;
}

.profiletext.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;

}

.rightside {
    position: relative;
    background: #a9e0fa;
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;

}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #004669;
    font-weight: 500;

}

.about .box .text h4 {
    text-transform: uppercase;
    color: #003147;
    font-size: 22px;
}


footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

footer .social-network,
p {
    text-align: center;
}